/*
#  ····················__····_·__···
#  ···____·___··____··/·/_··(_)·/__·
#  ··/·__·`__·\/·__·\/·__·\/·/·/·_·\
#  ·/·/·/·/·/·/·/_/·/·/_/·/·/·/··__/
#  /_/·/_/·/_/\____/_.___/_/_/\___/·
#  ································· */

@media (max-width: 450px) {

  .container{
    display: block;
    height: auto;
    padding: 5%;
    margin-top: auto;

  }

}
